@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

#blog,
#blog::before,
#blog::after {
  box-sizing: border-box;
}

#blog_comp{
  font-family: "Quicksand", sans-serif;
  display: grid;
  place-items: center;
  background: #f5f8ff;
  color: #fff;
  padding-bottom: 120px;

}
#blog{
  font-family: "Quicksand", sans-serif;
  display: grid;
  place-items: center;
  background: #f5f8ff;
  color: #fff;
  padding-bottom: 120px;

}
.button-container {
  justify-self: end;
  margin: 10px;
  margin-right: 200px;
}

.container_blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
}

.card {
  width: clamp(35rem, calc(20rem + 2vw), 22rem);
  height: 650px; /* Ajoutez une hauteur fixe à vos cartes */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background-image: linear-gradient(to right, #57824500 0%, #47d2100d 100%);
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}
.card__header {
  max-height: 300px; /* Définissez une hauteur maximale pour le conteneur de l'image */
  overflow: hidden; /* Assurez-vous que le contenu dépassant est masqué */
}

.card__header img {
  width: 100%; /* Assurez-vous que l'image occupe toute la largeur du conteneur */
  height: auto; /* Laissez la hauteur s'ajuster automatiquement pour préserver les proportions */
  object-fit: cover; /* Assurez-vous que l'image couvre tout le conteneur sans déformation */
}


.card__body {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.card__body .tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
}

.card__body .tag + .tag {
  margin-left: .5em;
}

.card__body h4 {
  font-size: 22px;
  text-transform: capitalize;
  text-align: center;
}

.card__body p {
  font-size: 16px;
  margin: 0px;
}

.container_blog small {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: .75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  background-color: #648a57;
}

.card__footer {
  display: flex;
  padding: 2rem;
  margin-top: auto;
  padding: auto;
}

.card__footer .user {
  display: flex;
  gap: .5rem;
}

.user {
  display: flex;
  align-items: center;
}

.user__image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.user__info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  margin-left: 10px;
}



.main-btn_blog:hover {
  background: linear-gradient(to right, #52694a 0%, #34b69f 50%, #648a57 100%); /* Couleur normale inversée au survol */
  color: #fff; /* Couleur normale inversée au survol */
  -webkit-box-shadow: 0px 5px 29px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 5px 29px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 29px 0px rgba(0, 0, 0, 0.25);
}
