
<div id="blog" class="features-area pt-115 pb-130">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="section-title text-center pb-50">
        <h2 class="title">Blog</h2>
      </div>
    </div>
  </div> 
  <div class="container_blog">
    {% for post in site.data.blog %}
  <a href="{{post.url }}">
    <div class="card">
      <div class="card__header">
        <img src="{{ post.image  | prepend: site.baseurl }}" alt="card__image" class="card__image" width="600">
      </div>
      <div class="card__body">
        <h4>{{ post.title }}</h4>
        <p>{{ post.content }}</p>
      </div>
      <div class="card__footer">
        <div class="user">
          <img src="{{post.img | prepend: site.baseurl }}" alt="" class="user__image">
          <div class="user__info">
          <h5>{{ post.auteur }}</h5></a>
            <small>{{ post.date | date: "%b %d, %Y" }}</small>
          </div>
        </div>
      </div>
    </div>
    </a>
  {% endfor %}
  </div>

</div>