
    <!--====== FOOTER PART START ======-->

    <section id="footer" class="footer-area bg_cover" style="background-image: url(assets/images/footer.jpg)">
      <div class="footer-subscribe-area pt-120 pb-130">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-lg-8">
                      <div class="footer-subscribe text-center">
                          <h2 class="subscribe-title">S'inscrire maintenant</h2>
                          <div class="subscribe-form mt-45">
                              <form action="#">
                                  <input type="email" placeholder="Saisissez votre adresse e-mail">
                                  <button class="main-btn">S'inscrire maintenant</button>
                              </form>
                          </div>
                      </div> <!-- footer subscribe -->
                  </div>
              </div> <!-- row -->
          </div> <!-- container -->
      </div> <!-- footer subscribe -->
      
      <div class="footer-widget">
          <div class="container">
              <div class="widget  pt-80 pb-130">
                  <div class="row">
                      <div class="col-lg-6">
                          <div class="footer-address mt-40">
                              <h5 class="f-title">Contacts</h5>
                              <a class="contact-link" href="mailto:sponsor-sotm@openstreetmap.org">sponsor-sotm@openstreetmap.org</a>
                          </div> <!-- footer address -->
                          <br>
                          <img src="{{ " /assets/images/logo/sotm_2024-logo.png" | prepend: site.baseurl }}"
                                style="max-height: 100px;" alt="Logo STOM 2024">
                      </div>
                      <div class="col-lg-6">
                          <div class="footer-contact mt-40">
                              <h5 class="f-title">Lien social</h5>
                              <ul class="social">
                                  <li><a target="_blank" href="https://blog.openstreetmap.org/"><i class="lni lni-world"></i></a></li>
                                  <li><a target="_blank" href="https://twitter.com/sotm"><i class="lni lni-twitter"></i></a></li>
                                  <li><a target="_blank" href="https://www.youtube.com/channel/UCLqJsr_5PfdvDFbgv1qp2aQ"><i class="lni lni-youtube"></i></a></li>
                                  
                              </ul>
                          </div>
                      </div>
                  </div> <!-- row -->
              </div> <!-- widget -->
          </div> <!-- container -->
      </div> <!-- footer widget -->
      
      <div class="footer-copyright">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="copyright text-center">
                          <p class="text"> © 2024 <a href="https://www.madatlas.mg" rel="nofollow">MADATLAS</a>. All Rights Reserved</p>
                      </div> <!-- copyright -->
                  </div>
              </div> <!-- row -->
          </div> <!-- container -->
      </div> <!-- container -->
  </section>

  <!--====== FOOTER PART ENDS ======-->
  
  <!--====== BACK TOP TOP PART START ======-->

  <a href="#" class="back-to-top"><i class="lni-chevron-up"></i></a>

  <!--====== BACK TOP TOP PART ENDS ======--> 



<!-- Footer 
<footer class="contain" id="footer">
    <div class="limiter">
      <div class="pad2y clearfix">
        <div class="space-bottom1 col12 clearfix footer-links">
          <div class="col3 pad4x hide-mobile">
          </div>
          <nav class="col3 pad2x">
            <a class="block" href="{{site.baseurl}}/calls/general"block>Call for Participation</a>
            <a class="block" href="{{site.baseurl}}/calls/academic">Call for Academic Abstracts</a>
            <a class="block" href="{{site.baseurl}}/calls/posters">Call for Posters</a>
            <a class="block" href="https://wiki.openstreetmap.org/wiki/State_of_the_Map_2022/registration_lightning_talks">Call for Lightning Talks</a>
            <a class="block" href="{{site.baseurl}}/travel_grant_programme">Travel Grant Programme</a>
            <a class="block" href="{{site.baseurl}}/codeofconduct/">Code of conduct</a>
          </nav>
          <nav class="col3 pad2x">
            <a class="block" href="{{site.baseurl}}/programme/">Programme</a>
            <a class="block" href="{{site.baseurl}}/posters/">Posters</a>
            <a class="block" href="https://zenodo.org/record/7004791">Proceedings of the Academic&nbsp;Track</a>
            <a class="block" href="{{site.baseurl}}/tickets/">Tickets</a>
            <a class="block" href="{{site.baseurl}}/venue/">Venue</a>
            <a class="block" href="{{site.baseurl}}/events/">Social Event</a>
          </nav>
          <nav class="col3 pad2x">
            <a class="block" href="https://twitter.com/sotm">Twitter&nbsp;<span class="icon twitter"></span></a>
            <a class="block" href="https://www.youtube.com/channel/UCLqJsr_5PfdvDFbgv1qp2aQ">Youtube&nbsp;<span class="icon video"></span></a>
            <a class="block" href="https://t.me/sotm2018">Telegram<span class="icon compass"></span></a>
            <a class="block" href="https://github.com/openstreetmap/stateofthemap-2022">GitHub&nbsp;<span class="icon github"></span></a>
            <a class="block" href="https://blog.openstreetmap.org/">OSM blog</a>
            <a class="block" href="https://wiki.openstreetmap.org/wiki/State_of_the_Map_2022">Wiki page</a>
          </nav>
          <nav class="col3">
            <img src="{{site.baseurl}}/img/logo/sotm_2024-logo.svg" class="logo" />
          </nav>
        </div>
      </div>
        <div class="center">
          <p>
            <a href="mailto:sotm@openstreetmap.org"><span class="icon mail" aria-hidden="true"></span>&nbsp;sotm@openstreetmap.org</a> - <a href="{{site.baseurl}}/imprint/">Imprint</a>
          </p>
        </div>
      </div>
</footer>
-->