

    <!--====== jquery js ======-->
    <script src="{{ "/js/vendor/modernizr-3.6.0.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/vendor/jquery-1.12.4.min.js" | prepend: site.baseurl }}"></script>

    <!--====== Bootstrap js ======-->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/popper.min.js" | prepend: site.baseurl }}"></script>

    <!--====== Counter Up js ======-->
    <script src="{{ "/js/waypoints.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/jquery.counterup.min.js" | prepend: site.baseurl }}"></script>

    <!--====== Slick js ======-->
    <script src="{{ "/js/slick.min.js" | prepend: site.baseurl }}"></script>

    <!--====== Scrolling Nav js ======-->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/scrolling-nav.js" | prepend: site.baseurl }}"></script>

    <!--====== Countdown js ======-->
    <script src="{{ "/js/jquery.countdown.min.js" | prepend: site.baseurl }}"></script>

    <!--====== wow js ======-->
    <script src="{{ "/js/wow.min.js" | prepend: site.baseurl }}"></script>

    <!--====== wow js ======-->
    <script src="{{ "/js/schedule.js" | prepend: site.baseurl }}"></script>

    <!--====== Main js ======-->
    <script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>