<!--====== CLIENT PART START ======-->

<div id="sponsor" class="client-area pt-115 pb-130 gray-bg">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8">
				<div class="section-title text-center pb-50">
					<h2 class="title">Nos sponsors</h2>
				</div>
			</div>
		</div> <!-- row -->

		<h1 class="space-bottom2 center">Gold</h1>
		<div class="row client-active">
			<div class="col-lg-3">
				<div class="single-client">
					<a target="_blank" href="https://nextbillion.ai">
						<img src="img/sponsors/nextbillionai.png" alt="nextbillion.ai">
					</a>
				</div> <!-- single client -->
			</div>
			<div class="col-lg-3">
				<div class="single-client">
					<a target="_blank" href="https://nextbillion.ai">
						<img src="img/sponsors/esri.png" alt="ESRI">
					</a>
				</div> <!-- single client -->
			</div>
			<div class="col-lg-3">
				<div class="single-client">
					<a target="_blank" href="https://nextbillion.ai">
						<img src="img/sponsors/tomtom.svg" alt="TomTom">
					</a>
				</div> <!-- single client -->
			</div>
			<div class="col-lg-3">
				<div class="single-client">
					<a target="_blank" href="https://nextbillion.ai">
						<img src="img/sponsors/grab.png" alt="Grab">
					</a>
				</div> <!-- single client -->
			</div>
			<div class="col-lg-3">
				<div class="single-client">
					<a target="_blank" href="https://nextbillion.ai">
						<img src="img/sponsors/microsoft.png" alt="Bing Maps/Microsoft">
					</a>
				</div> <!-- single client -->
			</div>
			<div class="col-lg-3">
				<div class="single-client">
					<a target="_blank" href="https://nextbillion.ai">
						<img src="img/sponsors/meta.svg" alt="Meta">
					</a>
				</div> <!-- single client -->
			</div>
		</div> <!-- row -->

		<h1 class="space-bottom2 center">Silver</h1>
		<div class="row client-active">
			<div class="col-lg-3">
				<div class="single-client">
					<img src="assets/images/client-1.png" alt="Client">
				</div> <!-- single client -->
			</div>
			<div class="col-lg-3">
				<div class="single-client">
					<img src="assets/images/client-2.png" alt="Client">
				</div> <!-- single client -->
			</div>
			<div class="col-lg-3">
				<div class="single-client">
					<img src="assets/images/client-3.png" alt="Client">
				</div> <!-- single client -->
			</div>
			<div class="col-lg-3">
				<div class="single-client">
					<img src="assets/images/client-4.png" alt="Client">
				</div> <!-- single client -->
			</div>
			<div class="col-lg-3">
				<div class="single-client">
					<img src="assets/images/client-5.png" alt="Client">
				</div> <!-- single client -->
			</div>
		</div> <!-- row -->
	</div> <!-- container -->
</div>

<!--====== CLIENT PART ENDS ======-->

<!--
<section class="contain dark" id="sponsors">


	<div class="limiter pad4y clearfix">
		<h1 class="space-bottom2 center">Our sponsors</h1>
		

		<h3 class="clearfix small-title sponsors silver">Silver</h3>
		<div class="clearfix space-top2 space-bottom4">
			<div class="col2 pad2 space-bottom2 sponsor">
				<a href="https://www.youthmappers.org">
					<img src="img/sponsors/youthmappers.png" style="margin-top: 10px" alt="YouthMappers">
				</a>
			</div>
			<div class="col2 pad2 space-bottom2 sponsor">
				<a href="https://opensource.google">
					<img src="img/sponsors/google.svg" style="margin-top: 2px" alt="YouthMappers">
				</a>
			</div>
			<div class="col2 pad2 space-bottom2 sponsor">
				<a href="https://www.mapbox.com/">
					<img src="img/sponsors/mapbox.svg" style="margin-top: 8px" alt="Mapbox">
				</a>
			</div>
			<div class="col2 pad2 space-bottom2 sponsor">
				<a href="https://www.snap.com/">
					<img src="img/sponsors/snap.svg" style="width:100%; margin-top: 6px" alt="Snap">
				</a>
			</div>
			<div class="col2 pad2 space-bottom2 sponsor">
				<a href="https://www.gojek.com/en-id/">
					<img src="img/sponsors/gojek.png" style="margin-top: 6px;" alt="Gojek">
				</a>
			</div>
			<div class="col2 pad2 space-bottom2 sponsor">
				<a href="https://www.here.com">
					<img src="img/sponsors/here.svg" style="margin-top: -12px; height:70px; width:auto;" alt="HERE">
				</a>
			</div>

		</div>

		<h3 class="clearfix small-title sponsors bronze">Bronze</h3>
		<div class="clearfix space-top2 space-bottom4">
			<div class="col2 pad2 space-bottom2 sponsor">
				<a href="https://www.locana.co">
					<img src="img/sponsors/locana.svg" style="margin-top: 10px" alt="Locana">
				</a>
			</div>
			<div class="col2 pad2 space-bottom2 sponsor">
				<a href="https://osmand.net/">
					<img src="img/sponsors/osmand.svg" style="" alt="OsmAnd">
				</a>
			</div>
			<div class="col2 pad2 space-bottom2 sponsor">
				<a href="https://www.hotosm.org/">
					<img src="img/sponsors/hotosm.svg" style="" alt="Humanitarian OpenStreetMap Team">
				</a>
			</div>
			<div class="col2 pad2 space-bottom2 sponsor">
				<a href="https://www.geofabrik.de">
					<img src="img/sponsors/geofabrik.png" style="" alt="Geofabrik">
				</a>
			</div>
			<div class="col2 pad2 space-bottom2 sponsor">
				<a href="https://www.cyient.com/">
					<img src="img/sponsors/cyient.png" style="" alt="Cyient">
				</a>
			</div>

		</div>

		<h3 class="clearfix small-title sponsors supporter">Supporter</h3>
		<a href="http://www.ioki.com/" class="pad2">ioki</a>
		<a href="https://www.geoapify.com/" class="pad2">Geoapify</a>

	</div>

</section>
-->