<!--====== CLIENT PART START ======-->

<div id="sponsor" class="client-area pt-115 pb-130">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8">
				<div class="section-title text-center pb-50">
					<h2 class="title">Nos sponsors</h2>
				</div>
			</div>
		</div> <!-- row -->

		{% for sponsor in site.data.sponsors %}
			<h1 class="space-bottom2 center">{{ sponsor.type }}</h1>

			<div class="row client-active">
				{% for data in sponsor.subcategories %}
				<div class="col-lg-3">
					<div class="single-client">
						<a target="_blank" href="{{ data.link }}">
							<img src="{{ data.logo }}" alt="{{ data.name }}">
						</a>
					</div> <!-- single client -->
				</div>
				{% endfor %}
			</div> <!-- row -->
			<br><br>
		{% endfor %}
	</div> <!-- container -->
</div>