<!--====== CLIENT PART START ======-->

<div id="sponsor" class="client-area pt-115 pb-130">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8">
				<div class="section-title text-center pb-50">
					<h2 class="title">Nos sponsors</h2>
				</div>
			</div>
		</div> <!-- row -->

		<h1 class="space-bottom2 center">Gold</h1>

		<div class="row client-active">
			{% for gold in site.data.golds %}
			<div class="col-lg-3">
				<div class="single-client">
					<a target="_blank" href="{{ gold.link }}">
						<img src="{{ gold.logo }}" alt="{{ gold.name }}">
					</a>
				</div> <!-- single client -->
			</div>
			{% endfor %}
		</div> <!-- row -->
		<br><br>
		<h1 class="space-bottom2 center">Silver</h1>
		<div class="row client-active">
			{% for silver in site.data.silvers %}
			<div class="col-lg-3">
				<div class="single-client">
					<a target="_blank" href="{{ silver.link }}">
						<img src="{{ silver.logo }}" alt="{{ silver.name }}">
					</a>
				</div> <!-- single client -->
			</div>
			{% endfor %}
		</div> 
		<br><br>
		<h1 class="space-bottom2 center">Bronze</h1>
		<div class="row client-active">
			{% for bronze in site.data.bronzes %}
			<div class="col-lg-3">
				<div class="single-client">
					<a target="_blank" href="{{ bronze.link }}">
						<img src="{{ bronze.logo }}" alt="{{ bronze.name }}">
					</a>
				</div> <!-- single client -->
			</div>
			{% endfor %}
		</div> 
		<!-- row -->
	</div> <!-- container -->
</div>
