---
layout: default
titlecontent: ""
headings: "general_Friday,general_Saturday,general_Sunday,breakout"
title : "Inscription"
---

{% include nav-head.html %}

<section id="programe" class="features-area">
  <div class="container">
    <br>
    <p>
      Les candidat.e.s à la SOTM d’été devront justifier de leur intérêt pour leur participation et se préinscrire
      aux sessions parallèles et aux ateliers. La procédure de candidature préalable à
      l’inscription est accessible ci-dessous,. La clôture des candidatures est fixée au 27 avril 2024.

      <h5> Tarif des inscriptions est à 20 000 Ar</h5>
    </p>

    <iframe frameborder="0" scrolling="yes" src="https://emit.xpress-it.org/inscription-sotm/public/" title="Concours"
      width="100%" height="900px"> </iframe>

  </div><br><br>
</section>
<!--{% include _timezoneswitcher.html %}-->