---
layout: default
titlecontent: ""
headings: "general_Friday,general_Saturday,general_Sunday,breakout"
title : "Programme"
---

{% include nav-head.html %}

<section id="programe" class="features-area">
  <div class="container">
    <br>
    <p>
      L'État de la carte 2024 aura lieu du 29 au 30 août 2022 à Fianarantsoa, Madagascar. Nous avons créé un programme
      passionnant avec vous, la communauté OpenStreetMap. Pendant toute la durée de la conférence, nous disposons de
      salles réservées aux sessions en petits groupes qui peuvent être réservées par des groupes d'intérêt mutuel ou
      utilisées sans planification préalable.
    </p>

    <p>
      Vendredi 29 avril : la conférence commence par une séance d'ouverture, suivie d'une journée de présentations et
      d'ateliers.
      Dimanche 30 avril : la dernière journée se poursuit avec d'autres présentations et ateliers, ainsi qu'une série de
      conférences académiques sélectionnées par notre comité scientifique.
    </p>

    <p>
      Le programme ci-dessous est encore à l'état d'ébauche : les conférences peuvent encore être déplacées par le
      comité
      de programme et certaines conférences restantes ainsi que les détails de la piste académique seront ajoutés
      prochainement.
    </p>


    {% include schedule/_general.html %}
    <br><br><br><br>
    <div class="row justify-content-center">
			<div class="col-lg-8">
				<div class="section-title text-center pb-50">
					<h2 class="title">Sessions auto-organisées</h2>
				</div>
			</div>
		</div>
    <p>
      En plus du programme principal du SotM, nous offrons un espace pour des sessions auto-organisées pour des
      discussions sur des sujets qui sont bien placés dans des rounds plus petits.
      bien placés dans les petites sessions. La seule exigence que nous avons pour votre sujet est qu'il doit être lié à
      OpenStreetMap. Nous utilisons un <a
        href="https://wiki.openstreetmap.org/wiki/State_of_the_Map_2022/self-organized_sessions">wiki OSM dédié
        page</a>
      pour l'organisation de <em>en ligne</em> des sessions auto-organisées. Pour les<em>sur place</em> sessions
      auto-organisées, nous
      nous
      Nous mettrons en place un tableau blanc sur le lieu de la conférence afin de réserver un créneau horaire et une
      salle. Les seules conditions à remplir sont les suivantes
      que les participants possèdent un billet de conférence qui leur donne accès à la plateforme de conférence que nous
      utilisons et qu'ils respectent les règles de la conférence.
      qu'ils se conforment aux règles de la conférence. <a href="/codeofconduct">Code de conduite</a>.
    </p>
  </div><br><br>
</section>
<!--{% include _timezoneswitcher.html %}-->